body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: '960px';
    font-size: '18px';
  }

.same {
    background-color: #DC7633; 
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 49px;
    color: #ebebeb;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: 6mm;

}

h1, p {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 49px;
    color: #ebebeb;
    text-align: center;
    background: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: 6mm;
}