body {
    padding: 10px 60px 60px 60px;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: '990px';
    font-size: '18px';
  }


h1, p {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 49px;
    color: #777;
    text-align: center;
    background: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: 6mm;
}
.same {
    background: #ebebeb; 
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 49px;
    color: #ebebeb;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: 6mm;
    /* width: 495px; */
}

/* #small p, #small h1 {
    color: #777;
background: #ebebeb;
} */

.section {
    width: 54%;
    float: left;
    background: #ebebeb;
  
}

.rightside {
    width: 45%;
    float: right;
    height: 864px;
    background-color: #ebebeb;
}



#big {
    background-color:#ebebeb;
 
}
#big h1 {
    color: #777;
}
.article-body {
    overflow: auto;
    background-color: #777;
}

#transparent {
    color: #ebebeb;
    background: #777;
    margin: 0px 20px 20px 20px;
    padding: 20px 0px;
}

#transparent h1{
    color: #ebebeb;
}

/* .rightside h1 {
    background-color: #ebebeb;
    text-align: center;
   
} */
#small p, #small h1 {
    color: #777;
background: #ebebeb;
margin: 10px 20px;
}

.footer {
    clear: both;
    background-color: #ebebeb;   
    margin-top: 40px;
}
.footer h1 {
    color: #777;
}